*.apk
*.ap_
*.dex
*.class
bin/
gen/
*.class
.meta

# Package Files #
*.jar
*.war
*.ear
target/
test-output/
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
*.iml
*.ipr
*.iws
.idea/
.svn/
.pmd
.log