<div>
  	<img class="img-responsive center-block" src="/static/imagery/logo.png"/>
	<div class="row jumbotron">
	  <div class="col-lg-10 col-lg-offset-1">
	    <h1>DLD Plugin <span id="ddld-plugin-installed"></span></h1>
	    <p class="lead">Wanneer je op DLD bent ingelogd,
	      haalt de plugin automatisch de meest nuttige informatie uit webpaginas, en voegt dit toe aan je factchecks.
	      Hiermee bouw je per factcheck in DLD een database op aan informatie, enkel door te browsen.</p>
	  </div>
	  <div class="col-lg-3 col-lg-offset-1 text-center">
	    <a href="/static/extensions/ddld.crx" target="_blank">
	      <img src="/static/imagery/chrome.png"/>
	      <p>Chrome Plugin</p>
	    </a>
	  </div>
	  <div class="col-lg-3 text-center">
	    <a href="/static/extensions/ddld.xpi" target="_blank">
	      <img src="/static/imagery/firefox.png"/>
	      <p>Firefox Plugin</p>
	    </a>
	  </div>
	  <div class="col-lg-3 text-center">
	    <a href="/static/extensions/ddld.exe" target="_blank">
	      <img src="/static/imagery/ie.png"/>
	      <p>IE Plugin</p>
	    </a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-10 col-lg-offset-1 text-center">
	    <small><em>Klik op een van de browsers om de respectieve plugin ervoor te downloaden.<br/>Staat je browser er niet tussen? Installeer dan
	    	<a href="https://www.google.com/intl/nl/chrome/browser/">Google Chrome</a> of
	    	<a href="http://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a></em></small>
	  </div>
	</div>
</div>