<!doctype html>

<html>
  
  <head>
    <title>New Page</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/frameworks/bootstrap/3.0.0/themes/white-plum/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <div class="container">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Gebruikersnaam</label>
              <div class="controls">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Email Adres</label>
              <div class="controls">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <div class="controls">
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Password (Herhaal)</label>
              <div class="controls">
                <input type="password" class="form-control">
              </div>
            </div>
            <a class="btn btn-primary">Maak gebruiker</a>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label">Profiel</label>
              <div class="controls">
                <ul class="list-group">
                  <li class="list-group-item">Wetenschap</li>
                  <li class="list-group-item">Politiek</li>
                  <li class="list-group-item">Default Profiel</li>
                </ul>
                <a class="btn btn-primary">Maak nieuw profiel</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>

</html>